.projects-container {
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
    justify-content: center;
    align-items: stretch; /* important */
    box-sizing: border-box;
    flex: 1;
    min-height: 0;
    gap: 20px;
}