.experience-container{
    color:black;
    display: flex;
    flex-direction: column;
}
.experience-title-container{
    color:black;
    gap: 10px;
    display: flex;
    flex-direction: row;
}
.experience-profile-container{
    line-height: 1.2;
}
.experience-name{
    font-size:15px;
    font-weight:bold;
}
.experience-title{
    font-size:12px;
    font-weight:bold;
}
.experience-date{
    font-size:10px;
}
.experience-features{
    font-size:12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    line-height: 1.2;
}
.experience-logo{
    width:50px;
}