.profile-section-container{
    
}
.profile-content-section-container{
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    gap:10px;
}
.profile-educations-skills-container{
    display: flex;
    flex-direction: column; 
    gap:10px;
}