.app-container {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 78, 64);
    font-family: "Lucida Console";
    justify-content: center;
    align-items: center;
}